<!-- Banner -->
<section id="intro" class="main">
	<span class="icon fa-diamond major"></span>
	<h2>{{ site.index_headers.title }}</h2>
	<p>{{ site.index_headers.short_description }}</p>
	<ul class="actions">
		<li><a href="#" class="button big">Learn More</a></li>
	</ul>
</section>
