<!-- Items -->
<section class="main items">
	{% for post in site.posts %}
		<article class="item">
			<header>
				<a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ site.baseurl }}/{{ post.image_path }}" alt="" /></a>
				<h3>{{ post.title }}</h3>
			</header>
			<p>{{ post.short_description }}</p>
			<ul class="actions">
				<li><a href="{{ site.baseurl }}{{ post.url }}" class="button">More</a></li>
			</ul>
		</article>
	{% endfor %}
</section>