<!-- One -->

{% include banner.html %}
{% include items.html %}
<!-- CTA -->
<section id="cta" class="main special">
	<h2>Etiam veroeros lorem</h2>
	<p>Phasellus ac augue ac magna auctor tempus proin<br />
	accumsan lacus a nibh commodo in pellentesque dui<br />
	in hac habitasse platea dictumst.</p>
	<ul class="actions">
		<li><a href="#" class="button big">Get Started</a></li>
	</ul>
</section>

