<!DOCTYPE HTML>
<!--
	Epilogue by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
	{% include head.html %}
	</head>
	<body>
		{% include header.html %}
		<div id="wrapper">
			{{ content }}
			{% include footer.html %}
		</div>
		{% include scripts.html %}
	</body>
</html>